@import './base.css';

body{
  display: flex;
  place-items: center;
  justify-content: center;
}

p{
  font-size: 2em;
}

#cmd{
  padding: 5px;
  color: #54916c;
  background-color: black;
  width: 750px;
  height: 350px;
}

#cmd_head{
  padding-left: 5px;
  background-color: white;
  color: black;
}

button{
  margin-right: 10px;
  margin-top: 7px;
  font-family: Consolas;
  font-size: 1.5em;
  background-color: white;
  border: none;
  width: 60px;
  height: 35px;
}