@import './base.css';

body, div {
  display: flex;
  place-items: center;
  justify-content: center;
}

div{
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 1px solid #54916c;
}

a{
  text-decoration: none;
  color: #54916c;
  font-weight: 300;
  font-size: 4em;
}