@import './base.css';

#app{
  width: 750px;
  height: 448px;
}
body{
  display: flex;
  place-items: center;
  justify-content: center;
}

p{
  font-size: 2em;
}

#cmd{
  font-size: 0.6em;
  padding: 5px;
  color: #54916c;
  background-color: black;
  width: 750px;
  height: 350px;
}

#cmd_head{
  margin-top: 10px;
  padding-left: 5px;
  background-color: white;
  color: black;
}

button{
  margin-right: 15px;
  margin-top: 5px;
  font-family: Consolas;
  font-size: 1.5em;
  background-color: white;
  border: none;
  width: 120px;
  height: 35px;
}